services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "3500:3500"
    env_file:
      - .env
    environment:
      - DATABASE_URI=mongodb://mongo:27017/budgeting-dev
      - PORT=3500
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
    networks:
      - app-network
    
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: dev
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_ROUTE=http://localhost:3500
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - server
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
volumes:
  mongo-data: